<br>
<br>
<div id=searchbar>         
<br>
<%= form_tag events_path, :method => 'get' do %>
  <p>  
    <%= text_field_tag :search, params[:search] %> 
    <%= submit_tag "Search", :name => nil %>
</p>
<br>
<% end %>

</div>
<div id="categorylist">
<br>
<FONT SIZE=2>
<h2>CATEGORIES</h2>
<br>
<FONT SIZE=3>
<a href="/events/category/1">Coats</a>
<FONT SIZE=3>&nbsp;&nbsp;
<br>
<a href="/events/category/2">Pants</a>
<FONT SIZE=3>&nbsp;&nbsp;
<br>
<a href="/events/category/3">Shoes</a>
<FONT SIZE=3>&nbsp;&nbsp;
<br>
<a href="/events/category/4">Accessory</a>
<FONT SIZE=3>&nbsp;&nbsp;
<br>
<a href="/events/category/5">other</a>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<ul><br>
<% @events.each do |event| %>


<% if current_consumer %>
  <% if event.consumer.id==current_consumer.id %>
    <% if event.buy_id == nil %>

   
    <FONT SIZE=3>


    
    <div id="products">
    <%= link_to( image_tag(event.pic.url(:medium)), :action => 'show', :id => "#{event.id}")%>
<br>
    <%= link_to 'Detail', event_path(event.id), :method=>:put %>
    <%= link_to 'Edit', :controller => 'events', :action => 'edit', :id => event %>
    <%= link_to 'Delete', event_path(event.id), :method=> :delete %>
    <br>    
    <%= event.name %>
    <br>
    <%='Price: NT'%>
    <%= event.price %>
    
    </div>

    <% else %>
 
    <div id="products">
   <%= link_to( image_tag(event.pic.url(:medium)), :action => 'show', :id => "#{event.id}")%>
    <br>
    <%= event.name %>
    <br>
    <%='Price: NT'%>
    <%= event.price %>
    <br>
    <%= 'Somebody want to buy this!'%>
    <FONT SIZE=3><%= link_to 'Add new item', :controller => 'events', :action => 'new' %>
    <% end %> </div>
  
<% else %>
    <% if event.buy_id == nil %>
    
    <div id="products">

    <%= link_to( image_tag(event.pic.url(:medium)), :action => 'show', :id => "#{event.id}")%>
    <%= event.name %>
    <br>
    <%='Price: NT'%>
    <%= event.price %>
    <FONT SIZE=3><%= link_to 'Add new item', :controller => 'events', :action => 'new' %>
    <br>
    <FONT SIZE=3></div>

    <% else %>
    
    <div id="products">
<%= link_to( image_tag(event.pic.url(:medium)), :action => 'show', :id => "#{event.id}")%>
    <br>
    <%= event.name %>
    <br>
    <%='Price: NT'%>
    <%= event.price %>
    <br>
    <%= 'Sorry, this item is booked' %>  
    <FONT SIZE=3><%= link_to 'Add new item', :controller => 'events', :action => 'new' %>
    <% end %> <FONT SIZE=3>
    <% end %></div>
<% else %>
    <div id="products">
    <%= event.name %>
    <br>
    <%='Price: NT'%>
    <%= event.price %>
    <br>
<%= link_to( image_tag(event.pic.url(:medium)), :action => 'show', :id => "#{event.id}")%>
<% end %>
</div>
<%end%>

<br>
<FONT SIZE=3><%= link_to 'Add new item', :controller => 'events', :action => 'new' %>  


