
<%= simple_format(@event.description)%>

<p>
  <b> Item name:</b>
  <%= @event.name %>
</p>
  Category: 
  <% case @event.cate %>
  <% when 1 %>
  <%= "Clothes" %>
  <% when 2 %>
  <%= "cosmetics" %>
  <% when 3 %>
  <%= "small items" %>
  <% end %>
</br></br>
<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

<p>
  <%= image_tag @event.pic.url(:medium) %>
  <br/>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Discussion:</b>
  <%= @event.discussion %>
</p>

<p><%= link_to 'back to index', :controller => 'events', :action => '' %></p>

<div class="fb-comments" data-width="600" data-numposts="5" data-colorscheme="light"></div>
