<div id="productfont">
  <div id="event">
<br/>
<p>
<b>
<%= @event.name %></b>
</p>
<br/>
<p>
  <%= image_tag @event.pic.url(:medium) %>
  <br/>
</p>
<br/>
<p>
  Category: 
  <% case @event.cate %>
  <% when 1 %>
  <%= "Clothes" %>
  <% when 2 %>
  <%= "cosmetics" %>
  <% when 3 %>
  <%= "small items" %>
  <% end %>
</p>
<p>
  <b>Price:</b>
  <%= @event.price %>
</p>
  </div>
<p>
  <b>Description:</b>
  <%= @event.description %>
</p>
<p>
  <b>Discussion:</b>
  <%= @event.discussion %>
<div class="fb-comments" data-width="600" data-numposts="5" data-colorscheme="light"></div>
</p>
<p><%= link_to 'Back to Index', :controller => 'events', :action => '' %></p>
</div>
